parameters:
  level: 7
  paths:
    - lib
  scanFiles:
    - tests/bootstrap.php
  ignoreErrors:
    - '#.* is not writable.#'
    - '#get_.* is unused.#'
    - '#__call\(\) has parameter \$arguments#'
