parameters:
  level: 8
  paths:
    - lib
    - generator
    - tests
  scanFiles:
  	- generator/generate
  excludePaths:
    - lib/LocaleId.php
    - lib/Units/SequenceCompanion.php
    - lib/Units/UnitsCompanion.php
  ignoreErrors:
    - '#get_.* is unused.#'
    - '#Method Test\\.*iterable type array#'
