<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
		 beStrictAboutCoverageMetadata="true"
		 beStrictAboutOutputDuringTests="true"
		 bootstrap="tests/bootstrap.php"
		 displayDetailsOnTestsThatTriggerDeprecations="true"
		 displayDetailsOnTestsThatTriggerNotices="true"
		 displayDetailsOnTestsThatTriggerWarnings="true"
		 colors="true"
		 executionOrder="depends,defects"
>
	<testsuites>
		<testsuite name="icanboogie/cldr">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>./lib</directory>
		</include>
	</source>
</phpunit>
